.card-img-overlay {
  font-size: calc(10px + 2vmin);
  display: flex;
  height: 500px;
  color: grey;
  border: solid grey;
  border-width: 5px;
  background-color: #caebf2;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin: 6%;
  font-family: 'Luckiest Guy', cursive;
}
